// _sec1.scss

#sec1 { 
	background: $dark; 
	margin-bottom: 40px;
	
	.bgimg { 
		background-image: url(../img/bgs/img4.jpg);
		background-color: $brandDark;
	}
	
	.content { 
		position: absolute; 
		top: 0; right: 0; bottom: 0; left: 0; 
		z-index: 2; 
	}
	.logo { 
		width: 15%; 
		position: absolute; 
		left: 10%;
		margin-top: 50px; 
	}
	.copy { 
		position: absolute; 
		right: 10%; bottom: 10%; left: 30%;
		z-index: 3; 
		text-align: right; 
		color: #fff; 
		text-shadow: 0 0 6px #000;
		h1 {
			color: $brandBlue;
			font-size: 60px;
			border-bottom: 1px solid $brandBlue;
			text-align: right;
		}
		h2 {
			color: $brandLight;
			margin: 10px 0 ;
			padding-bottom: 15px;
			border-bottom: 1px solid $brandLight;
			span {
				display: block;
				i {
					color: $brandOrange;
				}
			}
		}
		p {
			line-height: 1.4em;
			margin-bottom: 20px;
		}
	} 
}   