// _variables.scss
// =================

// Color Palette
$black       : #073642;
$white       : #FFFFFF;
$dark        : #3c3e40;
$light       : #F1F1F1;

$brandBlue   : #2cb2c4;
$brandOrange : #e44f26;
$brandDark   : #4e6374;
$brandLight  : #a7a9ac;

$yellow	     : #b58900;
$orange	     : #ff8000;
$red	     : #dc322f;
$magenta	 : #d33682;
$violet	     : #6c71c4;
$blue	     : #07b3f2;
$cyan	     : #2aa198;
$green	     : #859900;


// Fonts
$font : 'Elation Base', sans-serif;
	  